.employeeTable {
    width: 60%;
    margin: 50px auto;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  }
  .employeeTable table {
    width: 100%;
    margin-top: 30px;
  }
  .employeeTable table thead th {
    background-color: darkcyan;
    color: white;
  }
  
  .employeeTable table tbody td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }
  .actionButtons button {
    margin: 0 10px;
  }